mkdocs-material>=9.0.0
pymdown-extensions>=9.0
mkdocs-awesome-pages-plugin>=2.7.3
mkdocs-minify-plugin>=0.3.0
mkdocs-git-revision-date-localized-plugin>=0.10.0
mkdocs-search-index>=0.4.0
mkdocs-literate-nav-plugin>=0.3.0
mkdocs-codeinclude-plugin>=0.4.0
mkdocs-tabs-plugin>=1.3.0
mkdocs-mermaid2-plugin>=1.0.0
mkdocs-fonts-plugin>=0.3.0
